openapi: 3.1.0
info:
  title: Book Worm E-Store API
  version: 1.0.0
  description: |
    REST API for the Book Worm online bookstore platform.
    Supports guest browsing, member authentication, catalogue management,
    cart, checkout, orders, payments, shipping, reviews, and recommendations.
  contact:
    name: Book Worm Engineering
    email: api@bookworm.io
  license:
    name: Proprietary

servers:
  - url: https://api.bookworm.io/v1
    description: Production
  - url: https://api-staging.bookworm.io/v1
    description: Staging

# ─────────────────────────────────────────────────────────────────────────────
# Security Schemes
# ─────────────────────────────────────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived JWT access token (15 min TTL). Obtain via POST /auth/login.

    GuestToken:
      type: apiKey
      in: header
      name: X-Guest-Token
      description: Stable guest session identifier for unauthenticated cart/checkout flows.

# ─────────────────────────────────────────────────────────────────────────────
# Reusable Parameters
# ─────────────────────────────────────────────────────────────────────────────
  parameters:
    PageParam:
      name: page
      in: query
      description: 1-based page number
      schema:
        type: integer
        minimum: 1
        default: 1

    SizeParam:
      name: size
      in: query
      description: Items per page (max 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    SortParam:
      name: sort
      in: query
      description: "Sort field and direction, e.g. `publishedDate:desc`"
      schema:
        type: string

    CorrelationIdHeader:
      name: X-Correlation-ID
      in: header
      required: false
      schema:
        type: string
        format: uuid
      description: Distributed trace ID; generated by gateway if absent.

    IdempotencyKeyHeader:
      name: X-Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Client-generated UUID for idempotent mutations (required on payment/order confirm).

# ─────────────────────────────────────────────────────────────────────────────
# Reusable Schemas
# ─────────────────────────────────────────────────────────────────────────────
  schemas:

    # ── Primitives & Shared ──────────────────────────────────────────────────

    UUID:
      type: string
      format: uuid
      example: 550e8400-e29b-41d4-a716-446655440000

    ISODateTime:
      type: string
      format: date-time
      example: "2026-07-21T14:30:00+05:30"

    ISODate:
      type: string
      format: date
      example: "2026-07-21"

    MoneyDTO:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
          description: Decimal string — avoids IEEE-754 precision loss
          example: "149.00"
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: ISO-4217 currency code
          example: INR

    PaginationDTO:
      type: object
      required: [page, size, total, totalPages]
      properties:
        page:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
        total:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0

    ErrorDetail:
      type: object
      required: [field, message]
      properties:
        field:
          type: string
        message:
          type: string

    ErrorBody:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, correlationId, timestamp]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHENTICATED
                - FORBIDDEN
                - RESOURCE_NOT_FOUND
                - CONFLICT
                - OPTIMISTIC_LOCK_CONFLICT
                - RESOURCE_DELETED
                - BUSINESS_RULE_VIOLATION
                - RATE_LIMIT_EXCEEDED
                - INTERNAL_ERROR
                - SERVICE_UNAVAILABLE
            message:
              type: string
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'
            correlationId:
              $ref: '#/components/schemas/UUID'
            timestamp:
              $ref: '#/components/schemas/ISODateTime'

    # ── Address ──────────────────────────────────────────────────────────────

    AddressDTO:
      type: object
      required: [addressId, firstName, lastName, line1, city, pinCode, state, country, isDefault]
      properties:
        addressId:
          $ref: '#/components/schemas/UUID'
        label:
          type: string
          nullable: true
          maxLength: 100
        firstName:
          type: string
          minLength: 1
          maxLength: 100
        lastName:
          type: string
          minLength: 1
          maxLength: 100
        line1:
          type: string
          minLength: 1
          maxLength: 250
        line2:
          type: string
          nullable: true
          maxLength: 250
        city:
          type: string
          minLength: 1
          maxLength: 100
        pinCode:
          type: string
          minLength: 3
          maxLength: 20
        state:
          type: string
          minLength: 1
          maxLength: 100
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO-3166 alpha-2
          example: IN
        isDefault:
          type: boolean

    AddressInputFields:
      type: object
      required: [firstName, lastName, line1, city, pinCode, state, country]
      properties:
        label:
          type: string
          maxLength: 100
        firstName:
          type: string
          minLength: 1
          maxLength: 100
        lastName:
          type: string
          minLength: 1
          maxLength: 100
        line1:
          type: string
          minLength: 1
          maxLength: 250
        line2:
          type: string
          maxLength: 250
        city:
          type: string
          minLength: 1
          maxLength: 100
        pinCode:
          type: string
          minLength: 3
          maxLength: 20
        state:
          type: string
          minLength: 1
          maxLength: 100
        country:
          type: string
          minLength: 2
          maxLength: 2
          default: IN
        isDefault:
          type: boolean
          default: false

    # ── Auth / Identity ──────────────────────────────────────────────────────

    MemberSummaryDTO:
      type: object
      required: [memberId, displayName, roles]
      properties:
        memberId:
          $ref: '#/components/schemas/UUID'
        displayName:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        roles:
          type: array
          items:
            type: string
            enum: [GUEST, REGISTERED_USER, STORE_ADMIN, CATALOGUE_MANAGER, PLATFORM_ADMIN]

    MemberProfileResponse:
      allOf:
        - $ref: '#/components/schemas/MemberSummaryDTO'
        - type: object
          required: [status, walletBalance, createdAt]
          properties:
            status:
              type: string
              enum: [ACTIVE, SUSPENDED, CLOSED]
            walletBalance:
              $ref: '#/components/schemas/MoneyDTO'
            createdAt:
              $ref: '#/components/schemas/ISODateTime'

    TokenResponse:
      type: object
      required: [accessToken, refreshToken, tokenType, expiresIn, member]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
          enum: [Bearer]
        expiresIn:
          type: integer
          description: Seconds until access token expiry
          example: 900
        member:
          $ref: '#/components/schemas/MemberSummaryDTO'

    RegisterRequest:
      type: object
      required: [displayName, password]
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 150
        email:
          type: string
          format: email
          description: Required if phoneNumber not provided
        phoneNumber:
          type: string
          pattern: '^\+[1-9]\d{6,14}$'
          description: E.164 format. Required if email not provided.
        password:
          type: string
          minLength: 8
          maxLength: 128
          pattern: '^(?=.*[A-Z])(?=.*\d).{8,128}$'
          description: Must contain at least one uppercase letter and one digit

    RegisterResponse:
      type: object
      required: [memberId, displayName, createdAt]
      properties:
        memberId:
          $ref: '#/components/schemas/UUID'
        displayName:
          type: string
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        createdAt:
          $ref: '#/components/schemas/ISODateTime'

    LoginRequest:
      type: object
      required: [identifier, password]
      properties:
        identifier:
          type: string
          description: Email address or E.164 phone number
        password:
          type: string
          minLength: 1

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
          minLength: 1

    ForgotPasswordRequest:
      type: object
      required: [identifier]
      properties:
        identifier:
          type: string
          description: Email address or phone number

    ResetPasswordRequest:
      type: object
      required: [token, newPassword]
      properties:
        token:
          type: string
          minLength: 1
        newPassword:
          type: string
          minLength: 8
          maxLength: 128
          pattern: '^(?=.*[A-Z])(?=.*\d).{8,128}$'

    UpdateProfileRequest:
      type: object
      required: [displayName, version]
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 150
        version:
          type: integer
          minimum: 1

    CreateAddressRequest:
      allOf:
        - $ref: '#/components/schemas/AddressInputFields'

    UpdateAddressRequest:
      allOf:
        - $ref: '#/components/schemas/AddressInputFields'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              minimum: 1

    # ── Catalogue Refs ───────────────────────────────────────────────────────

    AuthorRefDTO:
      type: object
      required: [authorId, name]
      properties:
        authorId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string

    AuthorDetailRefDTO:
      allOf:
        - $ref: '#/components/schemas/AuthorRefDTO'
        - type: object
          properties:
            bio:
              type: string
              nullable: true
            photoUrl:
              type: string
              format: uri
              nullable: true
            role:
              type: string
              enum: [AUTHOR, CO_AUTHOR, EDITOR, TRANSLATOR]

    AuthorSummaryDTO:
      type: object
      required: [authorId, name, isFollowed]
      properties:
        authorId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        photoUrl:
          type: string
          format: uri
          nullable: true
        isFollowed:
          type: boolean

    AuthorDetailResponse:
      type: object
      required: [authorId, name, isActive, followerCount, isFollowed, books]
      properties:
        authorId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        bio:
          type: string
          nullable: true
        photoUrl:
          type: string
          format: uri
          nullable: true
        isActive:
          type: boolean
        followerCount:
          type: integer
          minimum: 0
        isFollowed:
          type: boolean
        books:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'

    CreateAuthorRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 300
        bio:
          type: string
          maxLength: 5000
        photoUrl:
          type: string
          format: uri

    UpdateAuthorRequest:
      allOf:
        - $ref: '#/components/schemas/CreateAuthorRequest'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              minimum: 1

    PublisherRefDTO:
      type: object
      required: [publisherId, name]
      properties:
        publisherId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string

    PublisherDTO:
      type: object
      required: [publisherId, name, isActive]
      properties:
        publisherId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        website:
          type: string
          format: uri
          nullable: true
        isActive:
          type: boolean

    PublisherDetailResponse:
      allOf:
        - $ref: '#/components/schemas/PublisherDTO'
        - type: object
          required: [books]
          properties:
            books:
              type: array
              items:
                $ref: '#/components/schemas/BookSummaryDTO'

    CreatePublisherRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 300
        website:
          type: string
          format: uri

    UpdatePublisherRequest:
      allOf:
        - $ref: '#/components/schemas/CreatePublisherRequest'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              minimum: 1

    CategoryRefDTO:
      type: object
      required: [categoryId, name, slug]
      properties:
        categoryId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        slug:
          type: string

    CategoryNodeDTO:
      type: object
      required: [categoryId, name, slug, bookCount, children]
      properties:
        categoryId:
          $ref: '#/components/schemas/UUID'
        name:
          type: string
        slug:
          type: string
        parentCategoryId:
          $ref: '#/components/schemas/UUID'
          nullable: true
        bookCount:
          type: integer
          minimum: 0
        children:
          type: array
          items:
            $ref: '#/components/schemas/CategoryNodeDTO'

    CategoryTreeResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryNodeDTO'

    CreateCategoryRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 150
        slug:
          type: string
          minLength: 1
          maxLength: 150
          pattern: '^[a-z0-9-]+$'
        parentCategoryId:
          $ref: '#/components/schemas/UUID'

    UpdateCategoryRequest:
      allOf:
        - $ref: '#/components/schemas/CreateCategoryRequest'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              minimum: 1

    # ── Books ────────────────────────────────────────────────────────────────

    DeliveryEstimateDTO:
      type: object
      required: [estimatedDate, isGuaranteed]
      properties:
        estimatedDate:
          $ref: '#/components/schemas/ISODate'
        isGuaranteed:
          type: boolean

    FormatPriceDTO:
      type: object
      required: [bookFormatId, formatType, price]
      properties:
        bookFormatId:
          $ref: '#/components/schemas/UUID'
        formatType:
          type: string
          enum: [PAPERBACK, HARDCOVER, EBOOK]
        price:
          $ref: '#/components/schemas/MoneyDTO'
        isbn:
          type: string
          nullable: true
        pageCount:
          type: integer
          nullable: true

    RatingDistributionDTO:
      type: object
      required: [star5, star4, star3, star2, star1]
      properties:
        star5:
          type: integer
          minimum: 0
        star4:
          type: integer
          minimum: 0
        star3:
          type: integer
          minimum: 0
        star2:
          type: integer
          minimum: 0
        star1:
          type: integer
          minimum: 0

    ReviewSummaryDTO:
      type: object
      required: [reviewCount, ratingDistribution]
      properties:
        averageRating:
          type: number
          format: double
          minimum: 1
          maximum: 5
          nullable: true
        reviewCount:
          type: integer
          minimum: 0
        ratingDistribution:
          $ref: '#/components/schemas/RatingDistributionDTO'

    BookSummaryDTO:
      type: object
      required: [bookId, title, authors, categories, formats, reviewCount]
      properties:
        bookId:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorRefDTO'
        publisher:
          $ref: '#/components/schemas/PublisherRefDTO'
          nullable: true
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        language:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryRefDTO'
        formats:
          type: array
          items:
            $ref: '#/components/schemas/FormatPriceDTO'
        averageRating:
          type: number
          nullable: true
        reviewCount:
          type: integer
          minimum: 0
        deliveryEstimate:
          $ref: '#/components/schemas/DeliveryEstimateDTO'
          nullable: true

    BookDetailResponse:
      type: object
      required: [bookId, title, language, salesCount, reviewCount, isActive, authors, categories, formats, relatedBooks, reviewSummary]
      properties:
        bookId:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        synopsis:
          type: string
          nullable: true
        language:
          type: string
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        publishedDate:
          $ref: '#/components/schemas/ISODate'
          nullable: true
        salesCount:
          type: integer
          minimum: 0
        averageRating:
          type: number
          nullable: true
        reviewCount:
          type: integer
          minimum: 0
        isActive:
          type: boolean
        publisher:
          $ref: '#/components/schemas/PublisherRefDTO'
          nullable: true
        authors:
          type: array
          items:
            $ref: '#/components/schemas/AuthorDetailRefDTO'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/CategoryRefDTO'
        formats:
          type: array
          items:
            $ref: '#/components/schemas/FormatPriceDTO'
        deliveryEstimate:
          $ref: '#/components/schemas/DeliveryEstimateDTO'
          nullable: true
        relatedBooks:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'
        reviewSummary:
          $ref: '#/components/schemas/ReviewSummaryDTO'
        isInWishlist:
          type: boolean
          description: Only present for authenticated requests

    AuthorRoleInput:
      type: object
      required: [authorId, role]
      properties:
        authorId:
          $ref: '#/components/schemas/UUID'
        role:
          type: string
          enum: [AUTHOR, CO_AUTHOR, EDITOR, TRANSLATOR]

    CreatePriceDTO:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
        currency:
          type: string
          minLength: 3
          maxLength: 3
          default: INR

    CreateFormatDTO:
      type: object
      required: [formatType, price]
      properties:
        formatType:
          type: string
          enum: [PAPERBACK, HARDCOVER, EBOOK]
        isbn:
          type: string
          pattern: '^97[89]\d{10}$'
        pageCount:
          type: integer
          minimum: 1
        price:
          $ref: '#/components/schemas/CreatePriceDTO'

    CreateBookRequest:
      type: object
      required: [title, language, authorIds, categoryIds, formats]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        synopsis:
          type: string
          maxLength: 10000
        language:
          type: string
          minLength: 1
          maxLength: 50
        coverImageUrl:
          type: string
          format: uri
        publishedDate:
          $ref: '#/components/schemas/ISODate'
        publisherId:
          $ref: '#/components/schemas/UUID'
        authorIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/AuthorRoleInput'
        categoryIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UUID'
        formats:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateFormatDTO'

    UpdateBookRequest:
      allOf:
        - $ref: '#/components/schemas/CreateBookRequest'
        - type: object
          required: [version]
          properties:
            version:
              type: integer
              minimum: 1

    UpdatePriceRequest:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'
        currency:
          type: string
          minLength: 3
          maxLength: 3
        effectiveFrom:
          $ref: '#/components/schemas/ISODateTime'

    # Replaces the former /books/{bookId}/deactivate RPC sub-path (DESIGN-02).
    # Accepting isActive as a boolean allows both deactivation and reactivation
    # without requiring a second endpoint.
    BookUpdateStatusRequest:
      type: object
      required: [isActive]
      properties:
        isActive:
          type: boolean
          description: Set false to deactivate, true to reactivate.
        version:
          type: integer
          minimum: 1
          description: Optimistic-lock version; required when the book was previously retrieved.

    # Replaces the former /coupons/{couponId}/deactivate RPC sub-path (DESIGN-02).
    CouponUpdateStatusRequest:
      type: object
      required: [isActive]
      properties:
        isActive:
          type: boolean
          description: Set false to deactivate immediately.
        version:
          type: integer
          minimum: 1
          description: Optimistic-lock version.

    # ── Search ───────────────────────────────────────────────────────────────

    FacetDTO:
      type: object
      required: [value, count]
      properties:
        value:
          type: string
        count:
          type: integer
          minimum: 0

    PriceRangeFacetDTO:
      type: object
      required: [label, min, max, count]
      properties:
        label:
          type: string
        min:
          type: number
        max:
          type: number
        count:
          type: integer
          minimum: 0

    SearchFacetsDTO:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/FacetDTO'
        formats:
          type: array
          items:
            $ref: '#/components/schemas/FacetDTO'
        languages:
          type: array
          items:
            $ref: '#/components/schemas/FacetDTO'
        priceRanges:
          type: array
          items:
            $ref: '#/components/schemas/PriceRangeFacetDTO'

    SearchResponse:
      type: object
      required: [query, data, pagination, facets]
      properties:
        query:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'
        pagination:
          $ref: '#/components/schemas/PaginationDTO'
        facets:
          $ref: '#/components/schemas/SearchFacetsDTO'

    # ── Wishlist ─────────────────────────────────────────────────────────────

    WishlistItemDTO:
      type: object
      required: [wishlistItemId, bookId, bookFormatId, title, formatType, price, addedAt]
      properties:
        wishlistItemId:
          $ref: '#/components/schemas/UUID'
        bookId:
          $ref: '#/components/schemas/UUID'
        bookFormatId:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        formatType:
          type: string
          enum: [PAPERBACK, HARDCOVER, EBOOK]
        price:
          $ref: '#/components/schemas/MoneyDTO'
        addedAt:
          $ref: '#/components/schemas/ISODateTime'

    WishlistResponse:
      type: object
      required: [wishlistId, items, totalItems]
      properties:
        wishlistId:
          $ref: '#/components/schemas/UUID'
        items:
          type: array
          items:
            $ref: '#/components/schemas/WishlistItemDTO'
        totalItems:
          type: integer
          minimum: 0

    AddWishlistItemRequest:
      type: object
      required: [bookFormatId]
      properties:
        bookFormatId:
          $ref: '#/components/schemas/UUID'

    # ── Cart ─────────────────────────────────────────────────────────────────

    CartItemDTO:
      type: object
      required: [cartItemId, bookId, bookFormatId, title, formatType, quantity, unitPrice, subtotal]
      properties:
        cartItemId:
          $ref: '#/components/schemas/UUID'
        bookId:
          $ref: '#/components/schemas/UUID'
        bookFormatId:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        coverImageUrl:
          type: string
          format: uri
          nullable: true
        formatType:
          type: string
          enum: [PAPERBACK, HARDCOVER, EBOOK]
        quantity:
          type: integer
          minimum: 1
          maximum: 10
        unitPrice:
          $ref: '#/components/schemas/MoneyDTO'
        subtotal:
          $ref: '#/components/schemas/MoneyDTO'
        deliveryEstimate:
          $ref: '#/components/schemas/DeliveryEstimateDTO'
          nullable: true

    CartResponse:
      type: object
      required: [cartId, items, totalItems, subtotal]
      properties:
        cartId:
          $ref: '#/components/schemas/UUID'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItemDTO'
        totalItems:
          type: integer
          minimum: 0
        subtotal:
          $ref: '#/components/schemas/MoneyDTO'

    AddCartItemRequest:
      type: object
      required: [bookFormatId, quantity]
      properties:
        bookFormatId:
          $ref: '#/components/schemas/UUID'
        quantity:
          type: integer
          minimum: 1
          maximum: 10

    UpdateCartItemRequest:
      type: object
      required: [quantity, version]
      properties:
        quantity:
          type: integer
          minimum: 1
          maximum: 10
        version:
          type: integer
          minimum: 1

    MergeCartRequest:
      type: object
      required: [guestToken]
      properties:
        guestToken:
          type: string
          minLength: 1

    # ── Checkout & Orders ────────────────────────────────────────────────────

    CheckoutSessionResponse:
      type: object
      required: [sessionId, status, expiresAt, items]
      properties:
        sessionId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [CREATED, ADDRESS_SET, PRICING_APPLIED, CONFIRMED, COMPLETED, EXPIRED]
        expiresAt:
          $ref: '#/components/schemas/ISODateTime'
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItemDTO'

    CouponSummaryDTO:
      type: object
      required: [couponId, code, discountType, discountValue, discountAmount]
      properties:
        couponId:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
        discountType:
          type: string
          enum: [FLAT, PERCENT]
        discountValue:
          type: number
        discountAmount:
          $ref: '#/components/schemas/MoneyDTO'

    CheckoutSummaryResponse:
      type: object
      required: [sessionId, status, items, subtotal, taxAmount, shippingAmount, discountAmount, walletDebitAmount, grandTotal]
      properties:
        sessionId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [CREATED, ADDRESS_SET, PRICING_APPLIED, CONFIRMED, COMPLETED, EXPIRED]
        deliveryAddress:
          $ref: '#/components/schemas/AddressDTO'
          nullable: true
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItemDTO'
        subtotal:
          $ref: '#/components/schemas/MoneyDTO'
        taxAmount:
          $ref: '#/components/schemas/MoneyDTO'
        shippingAmount:
          $ref: '#/components/schemas/MoneyDTO'
        discountAmount:
          $ref: '#/components/schemas/MoneyDTO'
        walletDebitAmount:
          $ref: '#/components/schemas/MoneyDTO'
        grandTotal:
          $ref: '#/components/schemas/MoneyDTO'
        appliedCoupon:
          $ref: '#/components/schemas/CouponSummaryDTO'
          nullable: true

    InitiateCheckoutRequest:
      type: object
      properties:
        guestToken:
          type: string
          description: Required when unauthenticated

    SetDeliveryAddressRequest:
      type: object
      properties:
        savedAddressId:
          $ref: '#/components/schemas/UUID'
          description: Provide this OR the inline address fields below
        firstName:
          type: string
          minLength: 1
          maxLength: 100
        lastName:
          type: string
          minLength: 1
          maxLength: 100
        line1:
          type: string
          minLength: 1
          maxLength: 250
        line2:
          type: string
          maxLength: 250
        city:
          type: string
          minLength: 1
          maxLength: 100
        pinCode:
          type: string
          minLength: 3
          maxLength: 20
        state:
          type: string
          minLength: 1
          maxLength: 100
        country:
          type: string
          minLength: 2
          maxLength: 2
        email:
          type: string
          format: email
        phone:
          type: string
          pattern: '^\+[1-9]\d{6,14}$'

    ApplyCouponRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
          minLength: 1

    RedeemWalletRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'

    PriceSummaryDTO:
      type: object
      required: [subtotal, taxAmount, shippingAmount, discountAmount, walletDebitAmount, grandTotal]
      properties:
        subtotal:
          $ref: '#/components/schemas/MoneyDTO'
        taxAmount:
          $ref: '#/components/schemas/MoneyDTO'
        shippingAmount:
          $ref: '#/components/schemas/MoneyDTO'
        discountAmount:
          $ref: '#/components/schemas/MoneyDTO'
        walletDebitAmount:
          $ref: '#/components/schemas/MoneyDTO'
        grandTotal:
          $ref: '#/components/schemas/MoneyDTO'
        appliedCouponCode:
          type: string
          nullable: true

    OrderLineDTO:
      type: object
      required: [orderLineId, bookId, title, formatType, quantity, unitPrice, subtotal]
      properties:
        orderLineId:
          $ref: '#/components/schemas/UUID'
        bookId:
          $ref: '#/components/schemas/UUID'
        title:
          type: string
        authorSnapshot:
          type: string
          nullable: true
        formatType:
          type: string
          enum: [PAPERBACK, HARDCOVER, EBOOK]
        quantity:
          type: integer
          minimum: 1
        unitPrice:
          $ref: '#/components/schemas/MoneyDTO'
        subtotal:
          $ref: '#/components/schemas/MoneyDTO'

    PaymentSummaryDTO:
      type: object
      required: [transactionId, paymentMethod, amount, status]
      properties:
        transactionId:
          $ref: '#/components/schemas/UUID'
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, UPI, WALLET]
        amount:
          $ref: '#/components/schemas/MoneyDTO'
        status:
          type: string
        confirmedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true

    ShipmentSummaryDTO:
      type: object
      required: [shipmentId, status]
      properties:
        shipmentId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [CREATED, READY_FOR_DISPATCH, DISPATCHED, IN_TRANSIT, OUT_FOR_DELIVERY, DELIVERED, CANCELLED]
        trackingNumber:
          type: string
          nullable: true
        estimatedDeliveryDate:
          $ref: '#/components/schemas/ISODate'
          nullable: true

    ReturnRequestDTO:
      type: object
      required: [returnRequestId, orderId, status, reason, requestedAt]
      properties:
        returnRequestId:
          $ref: '#/components/schemas/UUID'
        orderId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [REQUESTED, APPROVED, REJECTED, IN_TRANSIT, RECEIVED, REFUNDED]
        reason:
          type: string
        requestedAt:
          $ref: '#/components/schemas/ISODateTime'
        resolvedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true

    OrderConfirmationResponse:
      type: object
      required: [orderId, status, placedAt, items, deliveryAddress, priceSummary]
      properties:
        orderId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
        placedAt:
          $ref: '#/components/schemas/ISODateTime'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineDTO'
        deliveryAddress:
          $ref: '#/components/schemas/AddressDTO'
        priceSummary:
          $ref: '#/components/schemas/PriceSummaryDTO'
        estimatedDelivery:
          $ref: '#/components/schemas/ISODate'
          nullable: true

    OrderSummaryDTO:
      type: object
      required: [orderId, status, placedAt, itemCount, grandTotal]
      properties:
        orderId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
          enum: [PENDING_PAYMENT, AWAITING_PAYMENT, CONFIRMED, PROCESSING, DISPATCHED, DELIVERED, CANCELLED, RETURN_REQUESTED, RETURN_APPROVED, RETURN_REJECTED, RETURN_IN_TRANSIT, RETURN_RECEIVED, REFUNDED]
        placedAt:
          $ref: '#/components/schemas/ISODateTime'
        itemCount:
          type: integer
          minimum: 1
        grandTotal:
          $ref: '#/components/schemas/MoneyDTO'
        estimatedDelivery:
          $ref: '#/components/schemas/ISODate'
          nullable: true
        trackingStatus:
          type: string
          nullable: true

    OrderDetailResponse:
      type: object
      required: [orderId, status, placedAt, lines, deliveryAddress, priceSummary, payment, returnRequests]
      properties:
        orderId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
        placedAt:
          $ref: '#/components/schemas/ISODateTime'
        confirmedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        cancelledAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        deliveredAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        lines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLineDTO'
        deliveryAddress:
          $ref: '#/components/schemas/AddressDTO'
        priceSummary:
          $ref: '#/components/schemas/PriceSummaryDTO'
        payment:
          $ref: '#/components/schemas/PaymentSummaryDTO'
        shipment:
          $ref: '#/components/schemas/ShipmentSummaryDTO'
          nullable: true
        returnRequests:
          type: array
          items:
            $ref: '#/components/schemas/ReturnRequestDTO'

    OrderListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderSummaryDTO'
        pagination:
          $ref: '#/components/schemas/PaginationDTO'

    CancelOrderRequest:
      type: object
      required: [reason, version]
      properties:
        reason:
          type: string
          minLength: 5
          maxLength: 200
        version:
          type: integer
          minimum: 1

    ReturnRequestBody:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 5
          maxLength: 200
        notes:
          type: string
          maxLength: 1000

    # ── Payments ─────────────────────────────────────────────────────────────

    InitiatePaymentRequest:
      type: object
      required: [orderId, paymentMethod]
      properties:
        orderId:
          $ref: '#/components/schemas/UUID'
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, UPI, WALLET]

    PaymentInitiatedResponse:
      type: object
      required: [transactionId, orderId, paymentMethod, amount, status]
      properties:
        transactionId:
          $ref: '#/components/schemas/UUID'
        orderId:
          $ref: '#/components/schemas/UUID'
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, UPI, WALLET]
        amount:
          $ref: '#/components/schemas/MoneyDTO'
        status:
          type: string
        gatewayPayload:
          type: object
          additionalProperties: true
          description: Gateway-specific payload for client SDK (e.g. Razorpay order object)

    ConfirmPaymentRequest:
      type: object
      required: [gatewayPaymentId, gatewaySignature]
      properties:
        gatewayPaymentId:
          type: string
          minLength: 1
        gatewaySignature:
          type: string
          minLength: 1

    PaymentResultResponse:
      type: object
      required: [transactionId, orderId, status]
      properties:
        transactionId:
          $ref: '#/components/schemas/UUID'
        orderId:
          $ref: '#/components/schemas/UUID'
        status:
          type: string
        confirmedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true

    PaymentDetailResponse:
      type: object
      required: [transactionId, orderId, paymentMethod, amount, status]
      properties:
        transactionId:
          $ref: '#/components/schemas/UUID'
        orderId:
          $ref: '#/components/schemas/UUID'
        paymentMethod:
          type: string
          enum: [CREDIT_CARD, DEBIT_CARD, UPI, WALLET]
        amount:
          $ref: '#/components/schemas/MoneyDTO'
        status:
          type: string
        maskedCardNumber:
          type: string
          nullable: true
        cardExpiryMonth:
          type: integer
          nullable: true
        cardExpiryYear:
          type: integer
          nullable: true
        confirmedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true

    WalletTransactionDTO:
      type: object
      required: [walletTxnId, txnType, amount, source, balanceAfter, createdAt]
      properties:
        walletTxnId:
          $ref: '#/components/schemas/UUID'
        txnType:
          type: string
          enum: [CREDIT, DEBIT]
        amount:
          $ref: '#/components/schemas/MoneyDTO'
        source:
          type: string
          enum: [REFUND, GIFT, REDEMPTION, ADJUSTMENT]
        balanceAfter:
          $ref: '#/components/schemas/MoneyDTO'
        createdAt:
          $ref: '#/components/schemas/ISODateTime'

    WalletResponse:
      type: object
      required: [walletId, balance, status, recentTransactions]
      properties:
        walletId:
          $ref: '#/components/schemas/UUID'
        balance:
          $ref: '#/components/schemas/MoneyDTO'
        status:
          type: string
          enum: [ACTIVE, FROZEN]
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransactionDTO'

    # ── Shipping ─────────────────────────────────────────────────────────────

    DeliveryEstimateResponse:
      type: object
      required: [bookFormatId, pinCode, estimatedDate, shippingCost, isFreeDelivery]
      properties:
        bookFormatId:
          $ref: '#/components/schemas/UUID'
        pinCode:
          type: string
        estimatedDate:
          $ref: '#/components/schemas/ISODate'
        shippingCost:
          $ref: '#/components/schemas/MoneyDTO'
        isFreeDelivery:
          type: boolean

    ShipmentEventDTO:
      type: object
      required: [eventId, eventType, occurredAt]
      properties:
        eventId:
          $ref: '#/components/schemas/UUID'
        eventType:
          type: string
        location:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        occurredAt:
          $ref: '#/components/schemas/ISODateTime'

    ShipmentTrackingResponse:
      type: object
      required: [shipmentId, orderId, status, events]
      properties:
        shipmentId:
          $ref: '#/components/schemas/UUID'
        orderId:
          $ref: '#/components/schemas/UUID'
        carrier:
          type: string
          nullable: true
        trackingNumber:
          type: string
          nullable: true
        trackingUrl:
          type: string
          format: uri
          nullable: true
        estimatedDeliveryDate:
          $ref: '#/components/schemas/ISODate'
          nullable: true
        status:
          type: string
          enum: [CREATED, READY_FOR_DISPATCH, DISPATCHED, IN_TRANSIT, OUT_FOR_DELIVERY, DELIVERED, CANCELLED]
        dispatchedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        deliveredAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        events:
          type: array
          items:
            $ref: '#/components/schemas/ShipmentEventDTO'

    ReturnShipmentResponse:
      type: object
      required: [returnShipmentId, status]
      properties:
        returnShipmentId:
          $ref: '#/components/schemas/UUID'
        carrier:
          type: string
          nullable: true
        trackingNumber:
          type: string
          nullable: true
        status:
          type: string
          enum: [CREATED, AWAITING_PICKUP, PICKED_UP, IN_TRANSIT, RECEIVED]
        pickedUpAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        receivedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true

    # ── Reviews ──────────────────────────────────────────────────────────────

    ReviewDTO:
      type: object
      required: [reviewId, rating, status, submittedAt, isOwn]
      properties:
        reviewId:
          $ref: '#/components/schemas/UUID'
        memberName:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        body:
          type: string
          nullable: true
        status:
          type: string
          enum: [PENDING, PUBLISHED, REJECTED]
        publishedAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        submittedAt:
          $ref: '#/components/schemas/ISODateTime'
        isOwn:
          type: boolean

    ReviewListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReviewDTO'
        pagination:
          $ref: '#/components/schemas/PaginationDTO'

    SubmitReviewRequest:
      type: object
      required: [rating]
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        body:
          type: string
          minLength: 10
          maxLength: 2000

    UpdateReviewRequest:
      type: object
      required: [rating, version]
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        body:
          type: string
          minLength: 10
          maxLength: 2000
        version:
          type: integer
          minimum: 1

    ModerationReviewDTO:
      type: object
      required: [reviewId, bookId, bookTitle, memberId, memberName, rating, submittedAt]
      properties:
        reviewId:
          $ref: '#/components/schemas/UUID'
        bookId:
          $ref: '#/components/schemas/UUID'
        bookTitle:
          type: string
        memberId:
          $ref: '#/components/schemas/UUID'
        memberName:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        body:
          type: string
          nullable: true
        submittedAt:
          $ref: '#/components/schemas/ISODateTime'

    ModerationReviewListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ModerationReviewDTO'
        pagination:
          $ref: '#/components/schemas/PaginationDTO'

    RejectReviewRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 5
          maxLength: 500

    # ── Coupons ──────────────────────────────────────────────────────────────

    CouponDTO:
      type: object
      required: [couponId, code, discountType, discountValue, minOrderAmount, usedCount, isActive]
      properties:
        couponId:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
        description:
          type: string
          nullable: true
        discountType:
          type: string
          enum: [FLAT, PERCENT]
        discountValue:
          type: number
        minOrderAmount:
          $ref: '#/components/schemas/MoneyDTO'
        maxUses:
          type: integer
          nullable: true
        usedCount:
          type: integer
          minimum: 0
        expiresAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        isActive:
          type: boolean

    CouponListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CouponDTO'
        pagination:
          $ref: '#/components/schemas/PaginationDTO'

    CreateCouponRequest:
      type: object
      required: [storeId, code, discountType, discountValue]
      properties:
        storeId:
          $ref: '#/components/schemas/UUID'
        code:
          type: string
          minLength: 3
          maxLength: 50
          pattern: '^[A-Z0-9-]+$'
        description:
          type: string
          maxLength: 500
        discountType:
          type: string
          enum: [FLAT, PERCENT]
        discountValue:
          type: number
          exclusiveMinimum: 0
        minOrderAmount:
          type: number
          minimum: 0
          default: 0
        maxUses:
          type: integer
          minimum: 1
        expiresAt:
          $ref: '#/components/schemas/ISODateTime'

    UpdateCouponRequest:
      type: object
      required: [version]
      properties:
        description:
          type: string
          maxLength: 500
        maxUses:
          type: integer
          minimum: 1
          nullable: true
        expiresAt:
          $ref: '#/components/schemas/ISODateTime'
          nullable: true
        version:
          type: integer
          minimum: 1

    ValidateCouponRequest:
      type: object
      required: [code, orderAmount]
      properties:
        code:
          type: string
          minLength: 1
        orderAmount:
          type: string
          pattern: '^\d+(\.\d{1,2})?$'

    CouponValidationResponse:
      type: object
      required: [isValid, couponCode]
      properties:
        isValid:
          type: boolean
        couponCode:
          type: string
        discountType:
          type: string
          nullable: true
        discountAmount:
          $ref: '#/components/schemas/MoneyDTO'
          nullable: true
        invalidReason:
          type: string
          nullable: true

    # ── Recommendations ──────────────────────────────────────────────────────

    RecommendationItemDTO:
      type: object
      required: [book, score, reason]
      properties:
        book:
          $ref: '#/components/schemas/BookSummaryDTO'
        score:
          type: number
          minimum: 0
          maximum: 1
        reason:
          type: string
          enum: [ORDER_HISTORY, CATEGORY_AFFINITY, AUTHOR_FOLLOW]

    HomeRecommendationsResponse:
      type: object
      required: [recommendedForYou, bestsellersThisMonth, newLaunches]
      properties:
        recommendedForYou:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'
        bestsellersThisMonth:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'
        newLaunches:
          type: array
          items:
            $ref: '#/components/schemas/BookSummaryDTO'

    PersonalisedRecommendationsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationItemDTO'

  # ── Reusable Responses ─────────────────────────────────────────────────────
  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    Forbidden:
      description: Insufficient role/permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    Conflict:
      description: Conflict — unique constraint or optimistic lock violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    UnprocessableEntity:
      description: Business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'
    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorBody'

# ─────────────────────────────────────────────────────────────────────────────
# Tags
# ─────────────────────────────────────────────────────────────────────────────
tags:
  - name: Authentication
    description: Register, login, token refresh, logout, password reset
  - name: Users
    description: Member profile, saved addresses, author follows, wallet
  - name: Authors
    description: Author catalogue management and follow/unfollow
  - name: Publishers
    description: Publisher catalogue management
  - name: Categories
    description: Category hierarchy management
  - name: Books
    description: Book listings, formats, and pricing
  - name: Search
    description: Full-text search with facets
  - name: Wishlist
    description: Member wishlist management
  - name: Cart
    description: Shopping cart — guest and authenticated
  - name: Orders
    description: Checkout flow and order lifecycle
  - name: Payments
    description: Payment initiation, confirmation, and wallet
  - name: Shipping
    description: Delivery estimates and shipment tracking
  - name: Reviews
    description: Book reviews and ratings
  - name: Coupons
    description: Coupon management and validation
  - name: Recommendations
    description: Personalised and curated book recommendations

# ─────────────────────────────────────────────────────────────────────────────
# Global Security Default
# ─────────────────────────────────────────────────────────────────────────────
# GuestToken is the lowest-privilege scheme available and acts as the default
# for all endpoints.  Authenticated endpoints override this by declaring
# `security: - BearerAuth: []`.  Intentionally public endpoints (no identity
# required at all) override with `security: []`.
security:
  - GuestToken: []

# ─────────────────────────────────────────────────────────────────────────────
# Paths
# ─────────────────────────────────────────────────────────────────────────────
paths:

  # ══════════════════════════════════════════════════════════════════════════
  # Authentication
  # ══════════════════════════════════════════════════════════════════════════

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new member account
      operationId: registerMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Member registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalError'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate with identifier and password
      operationId: loginMember
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Exchange refresh token for new access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Tokens refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Invalidate the current session
      operationId: logoutMember
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Logged out successfully
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/password/forgot:
    post:
      tags: [Authentication]
      summary: Request a password reset token
      operationId: forgotPassword
      # This endpoint is intentionally public — no identity token required.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '202':
          description: |
            Reset request accepted. The response is always 202 regardless of
            whether the identifier matches a known account, preventing user
            enumeration attacks. If a matching account exists, a reset link
            or OTP is dispatched out-of-band (email/SMS).
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/password/reset:
    post:
      tags: [Authentication]
      summary: Reset password using reset token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: Password reset successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # ══════════════════════════════════════════════════════════════════════════
  # Users
  # ══════════════════════════════════════════════════════════════════════════

  /users/me:
    get:
      tags: [Users]
      summary: Get authenticated member profile
      operationId: getMyProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Member profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [Users]
      summary: Update display name
      operationId: updateMyProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/me/addresses:
    get:
      tags: [Users]
      summary: List saved delivery addresses
      operationId: listMyAddresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of addresses
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddressDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Users]
      summary: Add a new saved address
      operationId: createAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
      responses:
        '201':
          description: Address created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /users/me/addresses/{addressId}:
    parameters:
      - name: addressId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    put:
      tags: [Users]
      summary: Update a saved address
      operationId: updateAddress
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressRequest'
      responses:
        '200':
          description: Address updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Users]
      summary: Delete a saved address
      operationId: deleteAddress
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Address deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me/authors:
    get:
      tags: [Users]
      summary: List followed authors (My Writers)
      operationId: listFollowedAuthors
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Followed authors
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorSummaryDTO'
                  pagination:
                    $ref: '#/components/schemas/PaginationDTO'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/authors/{authorId}/follow:
    parameters:
      - name: authorId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Users]
      summary: Follow an author
      operationId: followAuthor
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Author followed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Users]
      summary: Unfollow an author
      operationId: unfollowAuthor
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Author unfollowed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me/wallet:
    get:
      tags: [Payments]
      summary: Get wallet balance and recent transactions
      operationId: getMyWallet
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wallet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/wishlist:
    get:
      tags: [Wishlist]
      summary: Get my wishlist
      operationId: getMyWishlist
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Wishlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishlistResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/wishlist/items:
    post:
      tags: [Wishlist]
      summary: Add item to wishlist
      operationId: addWishlistItem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddWishlistItemRequest'
      responses:
        '201':
          description: Item added to wishlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishlistItemDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/me/wishlist/items/{wishlistItemId}:
    parameters:
      - name: wishlistItemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    delete:
      tags: [Wishlist]
      summary: Remove item from wishlist
      operationId: removeWishlistItem
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Item removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════════════════════════════════════
  # Authors
  # ══════════════════════════════════════════════════════════════════════════

  /authors:
    get:
      tags: [Authors]
      summary: List authors
      operationId: listAuthors
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Partial name filter
        - name: isActive
          in: query
          schema:
            type: boolean
            default: true
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Paginated author list
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuthorSummaryDTO'
                  pagination:
                    $ref: '#/components/schemas/PaginationDTO'
    post:
      tags: [Authors]
      summary: Create an author (admin)
      operationId: createAuthor
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthorRequest'
      responses:
        '201':
          description: Author created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /authors/{authorId}:
    parameters:
      - name: authorId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Authors]
      summary: Get author detail
      operationId: getAuthor
      responses:
        '200':
          description: Author detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Authors]
      summary: Update an author (admin)
      operationId: updateAuthor
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAuthorRequest'
      responses:
        '200':
          description: Author updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Authors]
      summary: Delete an author (admin)
      operationId: deleteAuthor
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Author deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════════════════════════════════════
  # Publishers
  # ══════════════════════════════════════════════════════════════════════════

  /publishers:
    get:
      tags: [Publishers]
      summary: List publishers
      operationId: listPublishers
      parameters:
        - name: name
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Paginated publisher list
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublisherDTO'
                  pagination:
                    $ref: '#/components/schemas/PaginationDTO'
    post:
      tags: [Publishers]
      summary: Create a publisher (admin)
      operationId: createPublisher
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublisherRequest'
      responses:
        '201':
          description: Publisher created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /publishers/{publisherId}:
    parameters:
      - name: publisherId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Publishers]
      summary: Get publisher detail
      operationId: getPublisher
      responses:
        '200':
          description: Publisher with books
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Publishers]
      summary: Update a publisher (admin)
      operationId: updatePublisher
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePublisherRequest'
      responses:
        '200':
          description: Publisher updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublisherDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Publishers]
      summary: Delete a publisher (admin)
      operationId: deletePublisher
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Publisher deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════════════════════════════════════
  # Categories
  # ══════════════════════════════════════════════════════════════════════════

  /categories:
    get:
      tags: [Categories]
      summary: Get full category tree
      operationId: listCategories
      responses:
        '200':
          description: Category tree
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryTreeResponse'
    post:
      tags: [Categories]
      summary: Create a category (admin)
      operationId: createCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryNodeDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # DESIGN-01 fix: the former /categories/{slug} and /categories/{categoryId}
  # used two overlapping {variable} templates, causing spec-breaking router
  # ambiguity.  Slug lookup is now a dedicated sub-path; the UUID path item is
  # consolidated to hold GET + PUT + DELETE for a single resource.
  /categories/by-slug/{slug}:
    parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-z0-9-]+$'
          description: URL-safe slug for the category (e.g. "science-fiction")
    get:
      tags: [Categories]
      summary: Get category by slug
      operationId: getCategoryBySlug
      # Public — browse by slug does not require a session.
      security: []
      responses:
        '200':
          description: Category node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryNodeDTO'
        '404':
          $ref: '#/components/responses/NotFound'

  /categories/{categoryId}:
    parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Categories]
      summary: Get category by ID
      operationId: getCategory
      # Public — browsing by UUID does not require a session.
      security: []
      responses:
        '200':
          description: Category node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryNodeDTO'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Categories]
      summary: Update a category (admin)
      operationId: updateCategory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryNodeDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Categories]
      summary: Delete a category (admin)
      operationId: deleteCategory
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Category deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  # ══════════════════════════════════════════════════════════════════════════
  # Books
  # ══════════════════════════════════════════════════════════════════════════

  /books:
    get:
      tags: [Books]
      summary: Browse and filter books
      operationId: listBooks
      parameters:
        - name: categorySlug
          in: query
          schema:
            type: string
        - name: authorId
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: publisherId
          in: query
          schema:
            $ref: '#/components/schemas/UUID'
        - name: language
          in: query
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [PAPERBACK, HARDCOVER, EBOOK]
        - name: minPrice
          in: query
          schema:
            type: number
            minimum: 0
        - name: maxPrice
          in: query
          schema:
            type: number
            minimum: 0
        - name: isActive
          in: query
          schema:
            type: boolean
            default: true
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, 'price:asc', 'price:desc', 'sales:desc', 'rating:desc', 'publishedDate:desc']
            default: relevance
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginated book list
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BookSummaryDTO'
                  pagination:
                    $ref: '#/components/schemas/PaginationDTO'
    post:
      tags: [Books]
      summary: Create a book listing (admin)
      operationId: createBook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookRequest'
      responses:
        '201':
          description: Book created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /books/{bookId}:
    parameters:
      - name: bookId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Books]
      summary: Get full book detail (PDP)
      operationId: getBook
      # NEW-01 fix: BearerAuth is listed first so that authenticated callers
      # receive the isInWishlist field.  The empty-object alternative ({}) means
      # no credentials are required, allowing unauthenticated guest PDP access.
      # The global GuestToken default is intentionally NOT used here — guests
      # browsing the catalogue do not need a session token at all.
      security:
        - BearerAuth: []
        - {}
      responses:
        '200':
          description: Book detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Books]
      summary: Update book metadata (admin)
      operationId: updateBook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookRequest'
      responses:
        '200':
          description: Book updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    # DESIGN-02 fix: replaces the former /books/{bookId}/deactivate RPC sub-path.
    # Accepts isActive to allow both deactivation (false) and reactivation (true).
    patch:
      tags: [Books]
      summary: Update book active status (admin)
      operationId: updateBookStatus
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookUpdateStatusRequest'
      responses:
        '200':
          description: Book status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /books/{bookId}/formats/{bookFormatId}/price:
    parameters:
      - name: bookId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      - name: bookFormatId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    put:
      tags: [Books]
      summary: Update format price (admin)
      operationId: updateBookPrice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePriceRequest'
      responses:
        '200':
          description: Price updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormatPriceDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ══════════════════════════════════════════════════════════════════════════
  # Search
  # ══════════════════════════════════════════════════════════════════════════

  /search/books:
    get:
      tags: [Search]
      summary: Full-text book search with facets
      operationId: searchBooks
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
          description: Search term (min 2 characters)
        - name: language
          in: query
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [PAPERBACK, HARDCOVER, EBOOK]
        - name: minPrice
          in: query
          schema:
            type: number
            minimum: 0
        - name: maxPrice
          in: query
          schema:
            type: number
            minimum: 0
        - name: categorySlug
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, 'price:asc', 'price:desc', 'rating:desc']
            default: relevance
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Search results with facets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ══════════════════════════════════════════════════════════════════════════
  # Cart
  # ══════════════════════════════════════════════════════════════════════════

  /cart:
    get:
      tags: [Cart]
      summary: Get current cart (guest or authenticated)
      operationId: getCart
      security:
        - BearerAuth: []
        - GuestToken: []
      responses:
        '200':
          description: Cart contents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'

  /cart/items:
    post:
      tags: [Cart]
      summary: Add item to cart
      operationId: addCartItem
      security:
        - BearerAuth: []
        - GuestToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItemRequest'
      responses:
        # DESIGN-03 fix: adding a cart item creates a new CartItemDTO resource;
        # 201 Created is the correct response code.  The Location header points
        # to the addressable cart item for subsequent PATCH/DELETE operations.
        '201':
          description: Item added; returns updated cart contents
          headers:
            Location:
              description: URI of the newly created cart item
              schema:
                type: string
                format: uri
                example: /cart/items/550e8400-e29b-41d4-a716-446655440000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /cart/items/{cartItemId}:
    parameters:
      - name: cartItemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    patch:
      tags: [Cart]
      summary: Update cart item quantity
      operationId: updateCartItem
      security:
        - BearerAuth: []
        - GuestToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartItemRequest'
      responses:
        '200':
          description: Cart updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      tags: [Cart]
      summary: Remove item from cart
      operationId: removeCartItem
      security:
        - BearerAuth: []
        - GuestToken: []
      responses:
        '204':
          description: Item removed
        '404':
          $ref: '#/components/responses/NotFound'

  /cart/merge:
    post:
      tags: [Cart]
      summary: Merge guest cart into member cart on login
      operationId: mergeCart
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeCartRequest'
      responses:
        '200':
          description: Cart merged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ══════════════════════════════════════════════════════════════════════════
  # Orders / Checkout
  # ══════════════════════════════════════════════════════════════════════════

  /checkout:
    post:
      tags: [Orders]
      summary: Initiate checkout from cart
      operationId: initiateCheckout
      security:
        - BearerAuth: []
        - GuestToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateCheckoutRequest'
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /checkout/{sessionId}/address:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    put:
      tags: [Orders]
      summary: Set delivery address for checkout
      operationId: setCheckoutAddress
      security:
        - BearerAuth: []
        - GuestToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetDeliveryAddressRequest'
      responses:
        '200':
          description: Address set; returns updated summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /checkout/{sessionId}/coupon:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Orders]
      summary: Apply coupon to checkout session
      operationId: applyCoupon
      security:
        - BearerAuth: []
        - GuestToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyCouponRequest'
      responses:
        '200':
          description: Coupon applied; updated summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags: [Orders]
      summary: Remove applied coupon from checkout session
      operationId: removeCoupon
      security:
        - BearerAuth: []
        - GuestToken: []
      responses:
        '200':
          description: Coupon removed; updated summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSummaryResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /checkout/{sessionId}/wallet:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Orders]
      summary: Redeem wallet balance at checkout
      operationId: redeemWallet
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemWalletRequest'
      responses:
        '200':
          description: Wallet amount applied; updated summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /checkout/{sessionId}/summary:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Orders]
      summary: Get current checkout summary
      operationId: getCheckoutSummary
      security:
        - BearerAuth: []
        - GuestToken: []
      responses:
        '200':
          description: Checkout summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSummaryResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /checkout/{sessionId}/confirm:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Orders]
      summary: Confirm checkout and place order
      operationId: confirmCheckout
      security:
        - BearerAuth: []
        - GuestToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      responses:
        '201':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderConfirmationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /orders:
    get:
      tags: [Orders]
      summary: List member order history
      operationId: listMyOrders
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_PAYMENT, AWAITING_PAYMENT, CONFIRMED, PROCESSING, DISPATCHED, DELIVERED, CANCELLED, RETURN_REQUESTED, RETURN_APPROVED, RETURN_REJECTED, RETURN_IN_TRANSIT, RETURN_RECEIVED, REFUNDED]
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - $ref: '#/components/parameters/SortParam'
      responses:
        '200':
          description: Paginated order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/{orderId}:
    parameters:
      - name: orderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    get:
      tags: [Orders]
      summary: Get full order detail
      operationId: getOrder
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/cancel:
    parameters:
      - name: orderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Orders]
      summary: Cancel an order before dispatch
      operationId: cancelOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /orders/{orderId}/return:
    parameters:
      - name: orderId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
    post:
      tags: [Orders]
      summary: Request a return for a delivered order
      operationId: requestReturn
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnRequestBody'
      responses:
        '201':
          description: Return request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnRequestDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
[...]
